

<p>blur:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<p>brightness:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<p>contrast:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<p>grayscale:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<p>invert:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<p>opacity:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<p>saturate:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<p>sepia:
  <input type="range" min="1" max="5" id="size" oninput="sizePic()" value="3">
</p>

<button (click)="openForm()">Load new image</button>
