.button {
  float: right;
  margin-top: 50px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
  text-align: center;
  width: 150px;
  margin-bottom: 100px;
}

.button:hover {
  background: rgb(53, 167, 110);
}

.button:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.mainBlock {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.block{
  background: aqua;
  width: 50px;
  height: 50px;
}
.filters{
  display: flex;
  flex-direction: column;
}

img{
  float: right;
  width:80%;
  height: auto;
}

.littleImg1{
  filter: blur(0px) brightness(0.7) contrast(40%) grayscale(20%) invert(20%) opacity(100%) saturate(40%) sepia(20%);
  width:20%;
  height: auto;
}
.littleImg2{
  filter: blur(1px) brightness(0.7) contrast(80%) grayscale(40%) invert(40%) opacity(100%) saturate(80%) sepia(40%);
  width:20%;
  height: auto;
}
.littleImg3{
  filter: blur(2px) brightness(0.7) contrast(120%) grayscale(60%) invert(60%) opacity(100%) saturate(120%) sepia(60%);
  width:20%;
  height: auto;
}
.littleImg4{
  filter: blur(3px) brightness(0.7) contrast(160%) grayscale(40%) invert(80%) opacity(100%) saturate(160%) sepia(80%);
  width:20%;
  height: auto;
}
