<div class="mainBlock">
  <div class="filters">
    <div *ngFor="let key  of objectKeys(obj)">
      <p>{{key}}: {{obj[key]['value']}}{{obj[key]['sign']}}</p>
      <input type="range" min="{{(obj[key])['min']}}" max="{{obj[key]['max']}}" value="{{obj[key]['value']}}" step="{{obj[key]['step']}}" (input)="takeEventTarget($event, key)">

    </div>
  </div>
  <div class="pic">
    <div class="button" (click)="openForm()">Load new image</div>

    <br>
    <img [src]="result" [ngStyle]="{'filter': changeStyle()}"/>
    <div class="button" (click)="makeLikeImg(5)">Default</div>
  </div>
</div>
<div class="mainBlock">
  <img class="littleImg1" [src]="result" (click)="makeLikeImg(1)"/>
  <img class="littleImg2" [src]="result" (click)="makeLikeImg(2)"/>
  <img class="littleImg3" [src]="result" (click)="makeLikeImg(3)"/>
  <img class="littleImg4" [src]="result" (click)="makeLikeImg(4)"/>

</div>
