<div class="mainBlock">
  <div class="filters">
    <div *ngFor="let key  of objectKeys(obj)">
      <p>{{key}}: {{obj[key]['value']}}{{obj[key]['sign']}}</p>
      <input type="range" min="{{(obj[key])['min']}}" max="{{obj[key]['max']}}" value="{{obj[key]['value']}}" step="{{obj[key]['step']}}" (input)="takeEventTarget($event, key)">

    </div>
  </div>
  <div class="pic">
    <div class="button" (click)="openForm()">Load new image</div>
    <br>
    <img [src]="result" [ngStyle]="{'filter': changeStyle()}"/>
  </div>
</div>
